
@{
    ViewData["Title"] = "Test page";
}

<h1>This is a test page</h1>
<h2>
    If You\ve arrived here somehow, but was'n going to - GTFO
</h2>
@await Html.PartialAsync("_LocationSerializationPartial")

