@{
    ViewData["Title"] = "Home Page";
}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Weather app</h1>
            <p class="lead">This is a cool stuff for my training</p>
        </div>
    </div>
<div class="m-0 p-0" id="weather-partial">
    @await Html.PartialAsync("_WeatherPartial");
</div>