<div class="row">
    <div class="col-md-6">
        <form id="setLocation" name="locationForm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" autocomplete="off" id="locationName" aria-describedby="searchBtn" placeholder="Type location name">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="searchBtn"> <strong>></strong> </button>
                </div>
                <div id="tabs" class="dropdown-menu"></div>
            </div>
        </form>
    </div>
</div>