@{
}
<div class="jumbotron jumbotron-fluid bg-transparent text-white" id="card-weather">
    <div class="container-fluid">
        <div class="my-weather-bg"></div>
        <div class="container-fluid">
            <h1 class="display-4">Weather app</h1>
            <p class="lead">This is a cool stuff for my training</p>
            <br />
            <hr />
            <div id="overlay"></div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', async function () {
        var timer;
        const spinner = 
        `<div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>`;

        $(document).find('#overlay').html(spinner);

        var result = await fetchAsync('/weather/get', 'get');
        $(document).find('#overlay').html(result);

        $(document).on('click', '#change', async function () {
            $(document).find('#overlay').html(spinner);
            // console.log('ok');
            var result = await fetchAsync('/locations/change');
            $(document).find('#overlay').html(result);
        });


        const getSearchStr = () => $('#locationName').val();

        const findLocations = async () => await fetchAsync(`/locations/get?searchStr=${getSearchStr()}`);

        const clearTabs = () => {
            let $tabs = $(document).find('#tabs');
            $tabs.html('');
            $tabs.removeClass('show');
        }

        const setTabs = async () => {
            let $tabs = $(document).find('#tabs');
            clearTabs();

            var locations = await findLocations();
            console.log(locations);

            if (!!!locations || !!!locations.results)
                return;

            locations.results.forEach(location => {
                location.id = 0;
                $tabs.append(`<a class="dropdown-item" id="location_${location.geometry.lat}_${location.geometry.lng}" data-name="${location.formatted}">${location.formatted}</a>`);
                $(document).find('a.dropdown-item').last().data('location', JSON.stringify(location)).on('click', handleFoundCity);
            });

            if (!!$tabs.children().length)
                $tabs.addClass('show');

        };

        async function handleFoundCity(e) {
            const data = JSON.parse($(e.target).data('location'))

            $(document).find('#overlay').html(spinner)

            const result = await fetchAsync('/locations/set', 'post', data)

            $(document).find('#overlay').html(result)
        }

        // $(document).on('focusout', '#locationName', clearTabs)

        $(document).on('keydown', function (e) {
            if (document.activeElement.id == 'locationName') {

                if (e.keyCode == '38') {
                    e.preventDefault();

                    moveTabsSelectionUp();
                }
                else if (e.keyCode == '40') {
                    e.preventDefault();

                    moveTabsSelectionDown();
                }
                else if (e.keyCode == '13') {
                    e.preventDefault();
                    if (!!$('[data-name].active').length)
                        $('[data-name].active')[0].click();
                }
            }
        })


        function moveTabsSelectionUp() {
            let $active = $('[data-name].active');
            if (!!$active.length && !!$active.prev().length) {
                $active.removeClass('active');
                $active.prev().addClass('active');
            }
            else {
                $('[data-name]').last().addClass('active');
            }
        }
        function moveTabsSelectionDown() {
            let $active = $('[data-name].active');
            if (!!$active.length && !!$active.next().length) {
                $active.removeClass('active');
                $active.next().addClass('active');
            }
            else {
                $('[data-name]').first().addClass('active');
            }
        }

        $(document).on('click', '#searchBtn', setTabs);
        $(document).on('input', '#locationName', setTabs);
    })
</script>
